$bg-color: rgba(35, 35, 33, 1);
$primary-color: rgba(244, 206, 3, 1);
$secondary-color: rgba(255, 255, 255, 1);
$font-family: "Roboto", sans-serif;
$font-size: 16px;

$translucent-bg-color: rgba(197, 197, 197, 0.18);
$stroke-color: rgba(87, 87, 87, 1);
$web-title-color: rgba(221, 227, 234, 1);

$moviecard-desc-color: rgba(168, 164, 164, 1);

$card-width: 200px;
