@import "../abstracts/variables";
.grid-container {
  //   border: blue 1px solid;
  display: grid;
  grid-template-columns: repeat(auto-fill, $card-width);
  gap: 2rem;
  //   padding: 0.5rem;
  justify-content: space-evenly;
  //   border: red 1px solid;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  //   border: red 1px solid;
}
.not-found {
  //   text-align: center;
  color: rgba($primary-color, 0.8);
  font-weight: 300;
  margin-top: 1rem;
}
