*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  background-color: #232321;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  margin-top: 2rem;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 16px;
}

@media (min-width: 600px) {
  body {
    padding: 0 24px;
  }
}

@media (min-width: 1024px) {
  body {
    padding: 0 clamp(32px, 5vw, 64px);
  }
}

@media (min-width: 1440px) {
  body {
    padding: 0 calc((100vw - 1200px) / 2);
  }
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  color: white;
  text-align: center;
  margin-top: 2rem;
}

.main-header {
  max-width: 400px;
  margin: 2rem auto;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dde3ea;
}

.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}

.web-title-container {
  background-color: rgba(197, 197, 197, 0.18);
  stroke-width: 1/16rem;
  stroke: #575757;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  border-radius: 1000px;
  padding: 4px 12px;
}

.web-title {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.arrow-container {
  border-radius: 100%;
  background-color: #f4ce03;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.dotted-line {
  width: 100%;
  height: 4px;
  background: repeating-linear-gradient(to right, rgba(244, 206, 3, 0.15) 0, rgba(244, 206, 3, 0.15) 1rem, transparent 1rem, transparent 2rem);
}

.orb {
  height: 1000px;
  width: 1000px;
  position: absolute;
  background-image: radial-gradient(closest-side, rgba(244, 206, 3, 0.25), #232321);
  top: -600px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.card-container {
  background-color: rgba(197, 197, 197, 0.18);
  border-radius: 12px;
  border: 1px solid #575757;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 0 0.5em 0;
}

.card-image-container {
  position: relative;
  width: 180px;
  height: 260px;
  border-radius: 12px;
  overflow: hidden;
}

.card-image-container .card-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-image-container .gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(50%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 100%);
  pointer-events: none;
}

.card-image-container .overlay-content {
  position: absolute;
  bottom: 24px;
  left: 10px;
  color: white;
  z-index: 1;
  font-size: 14px;
  gap: 0.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-image-container .overlay-content h3 {
  margin: 0;
  font-size: 1rem;
}

.card-image-container .overlay-content p {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 200;
  color: #a8a4a4;
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-header h2 {
  font-size: 1rem;
  font-weight: 500;
  color: #f4ce03;
  margin: 0;
}

.btn {
  background-color: #f4ce03;
  border: none;
  border-radius: 100px;
  padding: 0.4em 1em;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1em;
  cursor: pointer;
}

.card-button {
  background-color: #f4ce03;
  border: none;
  border-radius: 100px;
  padding: 0.4em 1em;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1em;
  cursor: pointer;
}

.card-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.4em;
}

.card-rating-value {
  color: white;
  font-weight: 300;
  font-size: 0.8rem;
}

.card-rating-icon {
  color: #f4ce03;
}
/*# sourceMappingURL=main.css.map */